{{ define "main" }}
  <section class="section pt-7">
    <div class="container">
      <div class="row justify-center">
        <article class="lg:col-10">
          <h1 class="h2 mb-4">
            {{ .Title }}
          </h1>
          <ul class="mb-4">
            <li class="mr-4 inline-block">
              <a
                href="{{ `authors/` | relLangURL }}{{ .Params.Author | urlize }}/">
                <i class="fa-regular fa-circle-user mr-2"></i
                >{{ .Params.author }}
              </a>
            </li>
            <li class="mr-4 inline-block">
              <i class="fa-regular fa-folder mr-2"></i>
              {{ $categories:= .Params.categories }}
              {{ range $i,$p:= $categories }}
                <a
                  href="{{ `categories/` | relLangURL }}{{ . | urlize | lower }}/"
                  class="ms-1"
                  >{{ . | humanize }}{{ if ne $i (sub (len $categories) 1) }}
                    {{ ", " }}
                  {{ end }}
                </a>
              {{ end }}
            </li>
            <li class="mr-4 inline-block">
              <i class="fa-regular fa-clock mr-2"></i>
              {{ time.Format ":date_long" .PublishDate }}
            </li>
          </ul>
          <div class="content mr-4 mb-10">
            {{ .Content }}
          </div>
          
        </article>
      </div>

      <!-- Related posts -->
      {{ $related := (where site.RegularPages "Section" "in" site.Params.mainSections) | intersect (where site.RegularPages ".Title" "!=" .Title) | union (site.RegularPages.Related . ) }}
      {{ $related = $related | shuffle | first 3 }}
      {{ with $related }}
        <div class="section pb-0">
          <h2 class="h3 mb-12">{{ i18n "related_posts" }}</h2>
          <div class="row">
            {{ range . }}
              <div class="lg:col-4">
                {{ partial "components/blog-card" . }}
              </div>
            {{ end }}
          </div>
        </div>
      {{ end }}
    </div>
  </section>
{{ end }}
